
body, p, button {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft YaHei, sans-serif;
    text-rendering: optimizeLegibility;
    outline: none;
}

.functionModule {
    position: relative;
    width: 93%;
    left: 3.5%;
    min-height: 10px;
}

.functionModule .splitLine {
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}

.timeModule {
    width: 100%;
    height: 78px;
    margin-bottom: 21px;
}

.timeModule .timeLine {
    position: absolute;
    top: 32px;
    width: 100%;
    height: 1px;
    background-color: #999999;
}

.timeModule .timeBox {
    position: absolute;
    top: 21px;
    width: 78px;
    height: 50px;
}

.timeModule .timeBox .BtnBlock {
    /*position: absolute;*/
    top: 0;
    background-color: #999999;
    color: white !important;
    border: 0;
    border-radius: 3px;
    padding: 2px 13px 1px 13px;
    font-size: 13px;
    line-height: 21px;
}

.timeModule .timeBox .now {
    background-color: #000;

}

.timeModule .timeBox .dateBlock {
    margin-top: 5px;
    color: #414344;
    font-size: 13px;
}

.timeModule .timeBox .timeBlock {
    margin-top: 0px;
    color: #414344;
    font-size: 13px;
}

.timeModule .left {
    left: 0;
    text-align: left;

}

.timeModule .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.timeModule .right {
    right: 0;
    text-align: right;

}

/*参与人数辨识模块*/

.populationModule {
    width: 100%;
    height: 90px;
    text-align: center;
    margin-bottom: 21px;
}

.populationModule .title {
    margin-top: 21px;
    font-size: 18px;
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0) !important;
}

.populationModule .note {
    margin-top: 0px;
    font-size: 13px;
    color: #0E2D5F;
}

.populationModule .dataBox {
    position: absolute;
    top: 70px;
    height: 13px;
    width: 100%;
    background-color: #cccccc;
    border-radius: 3px;
}

.populationModule .dataBox .data {
    position: absolute;
    left: 0;
    height: 13px;
    width: 50%;
    border-radius: 3px 0 0 3px;
}

.populationModule .dataBox .level1 {
    background-color: #b3b3b3;
}

.populationModule .dataBox .level2 {
    background-color: #666666;
}

.mainBody {
    width: 100%;
}

.explanationZone {
    width: 93%;
    margin: 0 auto;
    text-align: center;
}

.explanationZone .title {
    color: #989898;
    font-size: 17px;
    line-height: 34px;
    margin-top: 21px;
}

.explanationZone .note {
    color: #989898;
    font-size: 12px;
    margin-bottom: 21px;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.mainBodyEditZone {
    margin-left: 3.5%;
    width: 93%;
    font-size: 17px;
    color: #666666;
    outline: none;
}

.mainBodyEditZone div {
    padding-top: 13px;
    font-size: 17px;
    color: #666666;
}

.mainBodyEditZone p {
    padding: 13px 0;
    line-height: 1.6;
    font-size: 16px;
    color: #666666;
}
/*序列号样式控制*/
.mainBodyEditZone ul,.mainBodyEditZone ol,.mainBodyEditZone li{
    list-style:none;
    padding:0;
    margin:0;
}
/*,.mainBodyEditZone ul li .textlist和.mainBodyEditZone ol li .textnumList没有意义，p没有list-style-type*/
.mainBodyEditZone>ul>li/*,.mainBodyEditZone ul li.textlist*/{
    list-style-type: circle;
    list-style-position:inside;
}
.mainBodyEditZone>ol>li/*,.mainBodyEditZone ol li.textnumList*/{
    list-style-type: decimal;
    list-style-position:inside;
}
/*.mainBodyEditZone{
    counter-reset:c1;
}
.mainBodyEditZone ul li.textnumList{
    counter-increment:c1 1;
}
.mainBodyEditZone ul li.textnumList:before{
    content:counter(c1)" ";
}*/
/*采用内容生成的方式实现列表序号*/
/*.mainBodyEditZone .textnumList:before{
    content:"1";
}
.mainBodyEditZone .textlist:before{
    content:".";
}*/
.mainBodyEditZone .textBig {
    padding-top: 13px;
    padding-bottom: 0;
    font-size: 24px;
    color: #3e3e3e;
    font-weight: bolder;
}
.mainBodyEditZone .textBig.textindent{
    text-indent: 48px;
    font-weight: bolder;
}
.mainBodyEditZone .textLit {
    padding-top: 13px;
    padding-bottom: 0;
    font-size: 24px;
    color: #999999;
    font-weight: normal;
}
.mainBodyEditZone .textLit.textindent{
    text-indent: 48px;
    font-weight: normal;
}
.mainBodyEditZone .textindent{
    text-indent: 32px;
    font-weight: normal;
}
.mainBodyEditZone .textcenter{
    text-align:center;
}
.mainBodyEditZone .textright{
    text-align:right;
}
.mainBodyEditZone .textleft{
    text-align:left;
}

.activePart {
    /*animation: activePartShow 0.3s;*/
    /*!*margin-top: 68px !important;*!*/
    /*!*margin-bottom: 34px !important;*!*/
}

@keyframes activePartShow {
    0% {
        margin-top: 0;
        margin-bottom: 0;
    }
    100% {
        margin-top: 68px;
        margin-bottom: 34px;
    }
}

.addPartActive {
    /*animation: addPartShow 0.3s;*/
    margin-bottom: 100px !important;
}

.focustest {
    border: none;
    width: 1%;
    background-color: white;
    height: 1px;
    padding: 0;
}

.toolBox {
    margin: 0 auto;
    width: 93%;
    height: 34px;
    background-color: #F2F2F2;
    border-radius: 3px;
}

.toolBoxInline {
    position: relative;
    margin-bottom: 21px;
}

.toolBoxFixed {
    position: fixed;
    display: none;
    left: 3.5%;
    top: 13px;
    z-index: 999;
    transform: translate3d(0, 0, 0);
    opacity: 0.99999;
    -webkit-backface-visibility: hidden;
}

.toolBox .splitLine {
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}

.toolBox .toolBar {
    width: 100%;
    height: 53px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.toolBar .tool {
    margin-right: 5px;
    float: left;
    height: 34px;
    background: none;
    display: none;
}

.toolBar .tool:active {
    background-color: #f2f2f2;
    /*border-radius: 3px;*/
}

.toolBar .tool .toolPic {
    float: left;
    height: 22px;
    width: 22px;
    margin: 6px 5px;
    background-size: cover;
}

.toolBar .tool .toolPicWide {
    width: 34px;
}

.toolBar .tool .toolName {
    float: left;
    line-height: 55px;
    font-size: 17px;
    color: #989898;
}

.addBtnLine {
    position: absolute;
    width: 100%;
    height: 1px;
    /*background-color: #F2F2F2;*/
}

.addBtnLine .line {
    position: absolute;
    width: 13px;
    height: 1px;
    right: 3.5%;
    background-color: #989898;
    box-shadow: 0 0 20px #989898;
}

.addBar {
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 88px;
    width: 100%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #3e3e3e;
    /*box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;*/
    z-index: 9;
    display: none;
}

.addBtnLine .addBarActive {
    display: block;
    animation: showFromLeft 0.2s;
    left: 0;
    overflow-x: scroll;
}

@keyframes showFromLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

.addBar button:first-child {
    margin-left: 3%;
}

.addBar button {
    height: 88px;
    width: 88px;
    background-color: #3e3e3e;
    color: white;
    z-index: 1;
}

.addBar button:active {
    background-color: white;
    color: inherit;
}

.addBar button p {
    font-size: 17px;
    color: inherit;
    font-weight: 100;
}

.addActive {
    /*animation: addPartShow 0.1s;*/
    height: 88px;
    /*box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;*/
    background-color: white;
}

@keyframes addPartShow {
    0% {
        height: 1px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0) inset;
    }
    100% {
        height: 88px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;
    }
}

.addBtnLine .addBtn {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #989898;
    transform: rotate(45deg);
    top: -6px;
    right: 3.5%;
    box-shadow: 0 0 20px #989898;
    color: white;
    background-image: url("../../userPage/css/toolBarImg/addBtn.png");
    background-size: cover;
    z-index: 10;
}

.addBtnLine .btnZone {
    position: absolute;
    width: 150px;
    height: 34px;
    right: 0;
    top: -22px;
    z-index: 11;
}

.addBtnLine .addBtnClose {
    animation: turnLeft45 0.3s;
    transform: rotate(90deg);
}

@keyframes turnLeft45 {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.addBtnLine .addBtnRe {
    animation: turnRight45 0.2s;
    transform: rotate(45deg);
}

@keyframes turnRight45 {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

.addBarBottom {
    position: relative;
    white-space: nowrap;
    overflow-y: hidden;
    height: 88px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #3e3e3e;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;
    z-index: 9;
    overflow-x: scroll;
}

.addBarBottom button:first-child {
    margin-left: 3%;
}

.addBarBottom button {
    height: 88px;
    width: 88px;
    background-color: #3e3e3e;
    color: white;
    z-index: 1;
}

.addBarBottom button:active {
    background-color: white;
    color: inherit;
}

.addBarBottom button p {
    font-size: 17px;
    color: inherit;
    font-weight: 100;
}